<div class="row-fluid">
	<form method="post" class="well span10 offset1 form-horizontal">
		<fieldset>
    	<legend>Add Bucket</legend>
    	<div class="control-group">
      	<label class="control-label" for="new_bucket">Bucket Name</label>
      	<div class="controls">
					<input class="input-xxlarge" type="text" id="new_bucket" name="new_bucket">
				</div>
			</div>
			<div class="form-actions">
				<button class="btn" type="submit">Submit</button>
			</div>
		</fieldset>
	</form>
</div>
